/* Général */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;  /* Assure que html et body prennent toute la largeur de la fenêtre */
    overflow-x: hidden; /* Évite le débordement horizontal */
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('images/fondNoir2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* POPUP */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    max-width: 90%; /* Largeur max pour le popup */
    max-height: 90%; /* Hauteur max pour le popup */
    overflow: hidden; /* Empêche le débordement */
  }

  .popup img {
    max-height: 100%; /* Ajuste l'image pour remplir le popup */
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  /* Styles pour tablettes */
  @media (max-width: 768px) {
    .popup {
      max-width: 80%; /* Ajuste la largeur max pour les tablettes */
      max-height: 80%; /* Ajuste la hauteur max pour les tablettes */
    }
  }

  /* Styles pour mobiles */
  @media (max-width: 480px) {
    .popup {
      max-width: 95%; /* Ajuste la largeur max pour les mobiles */
      max-height: 95%; /* Ajuste la hauteur max pour les mobiles */
    }

    .popup button {
      font-size: 18px; /* Réduit la taille du bouton de fermeture sur les mobiles */
    }
  }
/* FIN POPUP*/
  

/* NARBAR */
.navbar {
    height: auto;
}

.orange {
    color: #e06717e4;
    font-size: 85px;
}

.text-orange {
    color: #e06717e4;
    font-size: 55px;
}


.text-orange-nav {
    color: #e06717e4;
    font-size: 20px;
}

.text-orange-nav2 {
    color: #fa6604;
   
}

.text-decoration-custom {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}


.nav-brand-logo {
    font-size: 40px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    color: rgb(250, 250, 250);
}

.nav-item a:hover {
    color: rgb(198, 119, 8);
}

.nav-item {
    min-width: 12vw;
}

.nav-spacing {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Personnalisation du bouton hamburger */
.navbar-toggler.custom-toggler {
    border-color: transparent; /* Supprime la bordure du bouton */
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change la couleur du hamburger en blanc */
}
/* FIN NARBAR */

/* BANNER VIDEO HEADER*/
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#logo-container img {
    max-width: 280px;
    max-height: auto;
}
/* FIN BANNER VIDEO*/ 

/* FOND BINAIRE*/
#binary-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.particle {
    position: absolute;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    white-space: nowrap;
    opacity: 0.6;
}
@keyframes move {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}


/* Styles pour le fond binaire form contact*/
#binary-background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.5;
    font-size: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star {
    position: absolute;
    animation: blink 8s step-start infinite; /* Augmente la durée de l'animation pour un clignotement plus lent */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* /* FOND BINAIRE*/*/

/* FOOTER */

footer{
position:fixed;
bottom: 0;
width: 100%;
}

.container{
width: 100%;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Espacement entre les colonnes */
    align-items: flex-start; /* Aligne en haut */
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon {
    display: flex; /* Pour aligner les icônes horizontalement */
    align-items: center; /* Pour centrer verticalement les icônes */
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    transition: none; /* Retire la transition pour éviter les changements de couleur au survol */
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

/* Couleur de fond pour l'icône YouTube */
.youtube-bg {
    background-color: #FF0000; /* Couleur rouge de YouTube */
}

/* Couleur de fond pour l'icône LinkedIn */
.linkedin-bg {
    background-color: #0077b5; /* Couleur bleue de LinkedIn */
}


.footer-social-icon a:hover {
    color: #fff; /* Garde la couleur blanche des icônes au survol */
}

/* Styles pour les titres des widgets */
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; /* Marge ajustée pour plus d'espace au-dessus des liens */
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

/* Styles pour les liens utiles */
.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
.footer-links ul li {
    margin-bottom: 12px; /* Ajoute une marge inférieure pour séparer les éléments */
}

.footer-links ul li a {
    color: #878787;
    text-transform: capitalize;
}

.footer-links ul li a:hover {
    color: rgb(198, 119, 8);
}

/* Styles pour le formulaire de souscription */
.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

/* Styles pour la zone de copyright */
.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: beige;
}

/* Styles pour le menu du footer */
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

/* Styles pour les éléments orange */
.text-orange-footer {
    font-size: 14px;
    color: #e06717e4;
}

.text-orange-footer-2 {
    font-size: 40px;
    color: #e06717e4;
}

.discord {
    color: #e06717e4;
}

.robotFooter{
    width: 100px;
    height: auto;
}
/* END FOOTER */

/*VIDEO DE MARKETING */
.videoCom {
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}
/*VIDEO DE MARKETING */

/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-brand {
        font-size: 28px;
        order: 1;
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .navbar-collapse {
        order: 3;
    }

    .text-orange {
        font-size: 55px;
    }

    .text-orange-nav {
        font-size: 1rem;
    }

    .nav-item {
        min-width: auto;
        text-align: center;
    }

    .nav-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    #special-header {
        height: 25vh;
    }

    #logo-container img {
        max-width: 20vh;
        padding-top: 30px;
    }

    .star {
        font-size: 10px;
    }

    .nav-brand-logo {
        font-size: 25px;
        font-family: "Special Elite", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}
