/* Général */

body {
   
    background-image: url('Images/fondNoir2.jpg');
  background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
    margin: 0; /* Supprime les marges par défaut du body */
    padding: 0; /* Supprime les paddings par défaut du body */
    overflow-x: hidden; /* Évite le débordement horizontal */
   
}  

html {
  
}

/* Navbar */
.navbar {
    height: auto;
}

.orange {
    color: #e06717e4;
    font-size: 85px;
}

.text-orange {
    color: #e06717e4;
    font-size: 55px;
}



.text-orange-nav {
    color: #e06717e4;
    font-size: 20px;
}

.nav-brand {
    font-size: 40px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    color: rgb(250, 250, 250);
}

.nav-item a:hover {
    color: rgb(22, 215, 245);
}

.nav-item {
    min-width: 12vw;
}

.nav-spacing {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Personnalisation du bouton hamburger */
.navbar-toggler.custom-toggler {
    border-color: transparent; /* Supprime la bordure du bouton */
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change la couleur du hamburger en blanc */
}

/* Banner vidéo */
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#logo-container img {
    max-width: 280px;
    max-height: auto;
}
/* Fin Banner vidéo */

/* Styles pour le fond binaire */
#binary-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star {
    position: absolute;
    animation: blink 8s step-start infinite; /* Augmenter la durée de l'animation pour un clignotement plus lent */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* Fin Styles pour le fond binaire */
/* Footer */
/*footer*/
.footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #ff5e14;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: #ff5e14;
      padding: 13px 20px;
      border: 1px solid #ff5e14;
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: beige;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #ff5e14;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }

  .text-orange-footer {
    font-size: 14px;
    color: #e06717e4;
  }

  .text-orange-footer-2 {
    font-size: 1px;
    color: #e06717e4;
  }
/* footer{
    height: 360px;  
 }
 
 
 .copyright{
     text-align: center;
     color: #fff;
     font-size: 15px; 
     
 }
 
 .img2{
     
     height: 180px;
     width:205px;
     text-align: center;
 }
 .img3{
    text-align: center;
    
 } */
 /* END FOOTER */


/*vidéos  com */
.videoCom {
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}
/* Fin vidéos  com */

/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-brand {
        font-size: 28px;
        order: 1;
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .navbar-collapse {
        order: 3;
    }

    .text-orange {
        font-size: 55px;
    }

    .text-orange-nav {
        font-size: 1rem;
    }

    .nav-item {
        min-width: auto;
        text-align: center;
    }

    .nav-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    #special-header {
        height: 25vh;
    }

    #logo-container img {
        max-width: 20vh;
        padding-top: 30px;
    }

    .star {
        font-size: 10px;
    }
}
