body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden; /* Masquer le dépassement de contenu */
    background-image: url('Images/body.png'); /* Remplacez par le chemin correct de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le body */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

/* navbar */
.navbar {
    height: 100px;
}

.orange {
    color: #e06717e4;
    font-size: 85px;
}

.text-orange {
    color: #e06717e4;
    font-size: 55px;
}

.text-orange-nav {
    color: #e06717e4;
    font-size: 20px;
}

.text-logo {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    color: rgb(250, 250, 250);
}

.nav-item a:hover {
    color: rgba(85, 211, 243, 0.777);
}

.nav-item {
    min-width: 12vw;
}

.nav-spacing {
    margin-left: 5px; /* Ajustez cette valeur selon vos besoins */
    margin-right: 5px; /* Ajustez cette valeur selon vos besoins */
}

.navbar-nav {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* header */
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#logo-container img {
    max-width: 280px;
    max-height: auto;
}

/* star-container */
#star-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7ed2f1c4;
}

.star-line {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 0.5em;
    width: 100%;
    margin-bottom: 20px;
}

.star {
    opacity: 0;
    animation: sparkle 1s infinite alternate;
    font-size: 8px;
}

@keyframes sparkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media queries pour les appareils mobiles */
/* @media (max-width: 768px) {
    .navbar {
        height: auto;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .text-orange {
        font-size: 1.5rem;
    }

    .text-orange-nav {
        font-size: 1rem;
    }

    .nav-item {
        min-width: auto;
        text-align: center;
    }

    .nav-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
    }

    #special-header {
        height: 50vh; /* Réduire la hauteur du header sur les appareils mobiles */
    }

    #logo-container img {
        max-width: 200px; /* Réduire la taille du logo sur les appareils mobiles */
    }

    .star-line {
        height: 0.4em; /* Réduire la hauteur des lignes de caractères */
        margin-bottom: 20px; /* Réduire l'espacement entre les lignes */
    }

    .star {
        font-size: 10px; /* Réduire la taille des caractères sur les appareils mobiles */
    }
} */


/* footer */
footer {
    height: 360px;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.img1 {
    width: 330px;
    height: 650px;
    margin-top: 50px;
    margin-left: 50px;
}

.img2 {
    height: 180px;
    width: 205px;
    text-align: center;
}

.img3 {
    text-align: center;
}
